<div>
  <div class="row">
    <div class="column_12">
      <div class="header_1" ng-show="lang_menu.lang == 'korean'">
        소개 - 성격
      </div>
      <div class="header_1" ng-show="lang_menu.lang == 'english'">
        Introduce - Personality
      </div>
    </div>
  </div>
  <div class="row" style="height: 30px;"></div>
  <div class="row">
    <div class="column_12">
      <div class="header_2" ng-show="lang_menu.lang == 'korean'">
        실행하기 전에 먼저 생각합니다.
      </div>
      <div class="header_2" ng-show="lang_menu.lang == 'english'">
        I think before execution.
      </div>
    </div>
  </div>
  <div class="row" style="height: 10px;"></div>
  <div class="row">
    <div class="column_12">
      <div class="paragraph" ng-show="lang_menu.lang == 'korean'">
        어떤 일을 할 때 먼저 전체적인 그림을 그리고 어느정도 구체적인 틀이 머릿속에 잡혔을 때 비로소 실행에 옮깁니다.&nbsp;
        스타트를 하기 전에 오랜 시간이 걸리지만 한번 일을 실행하면 어떻게 해야할 것인지를 어느정도 생각해 놓았기 때문에 작업 속도와 능률이 더 좋다고 생각합니다.
      </div>
      <div class="paragraph" ng-show="lang_menu.lang == 'english'">
        When I do something, execute that only after drawing entire picture and catching a somewhat concrete frame in my head.&nbsp;
        It takes a long time before starting, but I execute it once, I think, the work speed and efficiency are better because I have thought about how to do it.
      </div>
    </div>
  </div>
  <div class="row" style="height: 30px;"></div>
  <div class="row">
    <div class="column_12">
      <div class="image" style="width: 150px;">
        <img style="width: 150px;" src="images/thinking.png">
      </div>
    </div>
  </div>
  <div class="row" style="height: 30px;"></div>
  <div class="row">
    <div class="column_12">
      <div class="header_2" ng-show="lang_menu.lang == 'korean'">
        가끔 생각에 깊게 빠집니다.
      </div>
      <div class="header_2" ng-show="lang_menu.lang == 'english'">
        Sometimes I fall deep into my thoughts.
      </div>
    </div>
  </div>
  <div class="row" style="height: 10px;"></div>
  <div class="row">
    <div class="column_12">
      <div class="paragraph" ng-show="lang_menu.lang == 'korean'">
        해결이 잘 되지 않는 문제를 골똘이 생각하는 것을 좋아합니다.&nbsp;
        가끔 비슷한 두 초이스를 두고 어느 것이 좋은 선택인지 오랫동안 생각합니다.
      </div>
      <div class="paragraph" ng-show="lang_menu.lang == 'english'">
        I like to think about problems that are not easy to solve.&nbsp;
        Sometimes I have two similar choices and I think which is a good choice for a long time.
      </div>
    </div>
  </div>
  <div class="row" style="height: 30px;"></div>
  <div class="row">
    <div class="column_12">
      <div class="header_2" ng-show="lang_menu.lang == 'korean'">
        사교성은 조금 없는 편이지만 남을 배려하기를 좋아합니다.
      </div>
      <div class="header_2" ng-show="lang_menu.lang == 'english'">
        I am not so sociable but like to care for others.
      </div>
    </div>
  </div>
  <div class="row" style="height: 10px;"></div>
  <div class="row">
    <div class="column_12">
      <div class="paragraph" ng-show="lang_menu.lang == 'korean'">
        사교 활동을 하면 주로 에너지를 소비하는 편입니다.&nbsp;
        그렇다고 사교성이 아주 없는 편은 아니며 친절을 베푸는 것을 좋아합니다.<br>
        <br>
        문제가 닥치면 혼자의 힘으로 해결하려고 하는 편이며 혼자의 힘으로 해결하지 못할 때 비로소 남에게 도움을 요청합니다.&nbsp;
        혼자만의 개인 시간을 남에게 방해받기 싫어하며 개인 공간에 있는 것을 좋아합니다.
      </div>
      <div class="paragraph" ng-show="lang_menu.lang == 'english'">
        I usually consume energy in social activities.&nbsp;
        But I am not so unsociable and like to show kindness.<br>
        <br>
        If I have a problem, I try to solve it by myself, and if I can not solve it, then I ask for help from others.&nbsp;
        I do not want to interrupt my personal time from others and I like to be in private space.
      </div>
    </div>
  </div>
  <div class="row" style="height: 30px;"></div>
  <div class="row">
    <div class="column_12">
      <div class="image" style="width: 150px;">
        <img style="width: 150px;" src="images/personal_space.png">
      </div>
    </div>
  </div>
  <div class="row" style="height: 30px;"></div>
  <div class="row">
    <div class="column_12">
      <div class="header_2" ng-show="lang_menu.lang == 'korean'">
        계획을 세우기 보다는 즉흥적입니다.
      </div>
      <div class="header_2" ng-show="lang_menu.lang == 'english'">
        I am improvisational rather than deliberate.
      </div>
    </div>
  </div>
  <div class="row" style="height: 10px;"></div>
  <div class="row">
    <div class="column_12">
      <div class="paragraph" ng-show="lang_menu.lang == 'korean'">
        계획을 세우기 보다는 그날 생각한 것을 실행에 옮길 때가 많습니다.&nbsp;
        이는 여행을 갈 때도 마찬가지입니다.&nbsp;
        일정이 짜여진 여행보다는 자유롭게 다니는 여행을 선호합니다.
      </div>
      <div class="paragraph" ng-show="lang_menu.lang == 'english'">
        Rather than making plans, I do what I think that day.&nbsp;
        This is same even when traveling.&nbsp;
        I prefer a free trip rather than a scheduled trip.
      </div>
    </div>
  </div>
  <div class="row" style="height: 30px;"></div>
  <div class="row">
    <div class="column_12">
      <div class="header_2" ng-show="lang_menu.lang == 'korean'">
        호기심이 강하고 궁금증을 해결하기 위해 열심히 공부합니다.
      </div>
      <div class="header_2" ng-show="lang_menu.lang == 'english'">
        I am so curious and study hard to resolve the curiosity.
      </div>
    </div>
  </div>
  <div class="row" style="height: 10px;"></div>
  <div class="row">
    <div class="column_12">
      <div class="paragraph" ng-show="lang_menu.lang == 'korean'">
        궁금증을 해결하고 지식 체계를 쌓아가는 것을 좋아합니다.&nbsp;
        공부를 하는 원동력은 주로 호기심과 해결 의지에서 나옵니다.
      </div>
      <div class="paragraph" ng-show="lang_menu.lang == 'english'">
        I like to resolve my curiosity and build up a knowledge system.&nbsp;
        The driving force for studying comes mainly from curiosity and a willingness to solve it.
      </div>
    </div>
  </div>
  <div class="row" style="height: 200px;"></div>
</div>
