<div>
  <div class="row" style="height: 30px;"></div>
  <div class="row">
    <div class="column_12">
      <div class="image" style="width: 150px;">
        <img style="width: 150px;" src="images/my_picture.png">
      </div>
    </div>
  </div>
  <div class="row" style="height: 100px;"></div>
  <div class="row">
    <div class="column_12">
      <div class="header_1" style="text-align: center;" ng-show="lang_menu.lang == 'korean'">
        소개합니다
      </div>
      <div class="header_1" style="text-align: center;" ng-show="lang_menu.lang == 'english'">
        Introduce
      </div>
    </div>
  </div>
  <div class="row" style="height: 50px;"></div>
  <div class="row">
    <div class="column_12">
      <div class="paragraph" style="text-align: center;" ng-show="lang_menu.lang == 'korean'">
        강신학<br>
        James Kang<br>
        <br>
        <br>
        <i class="fa fa-mars" style="color: #3498DB;"></i> 1987년 4월 10일 출생<br>
        <br>
        <br>
        서울특별시 송파구 거주<br>
        <br>
        <br>
        <span style="color: #E74C3C;">연락처</span> 01028331122<br>
        <br>
        <br>
        정보보안학 학사
      </div>
      <div class="paragraph" style="text-align: center;" ng-show="lang_menu.lang == 'english'">
        James Kang<br>
        강신학 (Kang Sinhak)<br>
        <br>
        <br>
        <i class="fa fa-mars" style="color: #3498DB;"></i> April 10, 1987 birth<br>
        <br>
        <br>
        Live in Songpa-gu, Seoul, Republic of Korea<br>
        <br>
        <br>
        <span style="color: #E74C3C;">Contact</span> +82 1028331122<br>
        <br>
        <br>
        Bachelor's degree in information security
      </div>
    </div>
  </div>
  <div class="row" style="height: 50px;"></div>
  <div class="row">
    <div class="column_12">
      <div class="paragraph" style="text-align: center;">
        <span class="label white">
          <img style="width: 15px;" src="images/html5.png"> HTML5
        </span>
        <br>
        <br>
        <span class="label white">
          <img style="width: 15px;" src="images/css3.png"> CSS3
        </span>
        <span class="label blue" style="margin-left: 20px;">
          <img style="width: 35px;" src="images/less.png"> Less
        </span>
        <br>
        <br>
        <span class="label white">
          <img style="width: 19px;" src="images/jquery.png"> jQuery
        </span>
        <span class="label red" style="margin-left: 20px;">
          <img style="width: 16px;" src="images/angular.png"> Angular
        </span>
        <br>
        <br>
        <span class="label white">
          <img style="width: 65px;" src="images/underscore.png"> Underscore
        </span>
        <br>
        <br>
        <span class="label purple">
          <img style="width: 16px;" src="images/webpack.png"> Webpack
        </span>
        <span class="label gray" style="margin-left: 20px;">
          <img style="width: 12px;" src="images/gulp.png"> Gulp
        </span>
        <br>
        <br>
        <span class="label white">
          <img style="width: 16px;" src="images/node.png"> Node
        </span>
        <span class="label red" style="margin-left: 20px;">
          <img style="width: 22px;" src="images/websocket.png"> WebSocket
        </span>
        <br>
        <br>
        <span class="label blue">
          <img style="width: 10px;" src="images/mongodb.png"> MongoDB
        </span>
        <span class="label white" style="margin-left: 20px;">
          <img style="width: 20px;" src="images/sql.png"> SQL
        </span>
        <br>
        <br>
        <span class="label white">
          <img style="width: 22px;" src="images/aws.png"> AWS
        </span>
        <br>
        <br>
        <span class="label blue">
          C/C++
        </span>
        <br>
        <br>
        <span class="label purple">
          <img style="width: 20px;" src="images/python.png"> Python
        </span>
        <br>
        <br>
        <span class="label white">
          <img style="width: 20px;" src="images/flask.png"> Flask
        </span>
        <span class="label blue" style="margin-left: 20px;">
          <img style="width: 45px;" src="images/django.png"> Django
        </span>
      </div>
    </div>
  </div>
  <div class="row" style="height: 200px;"></div>
</div>
